{% load static %}
<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-------Iconos-------->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>


    <!---------CSS--------->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    <title>GoddessNut</title>

</head> 
<body>


<style>
    .hola-msg{
        font-size: 18px;
        color: black;
        margin-right: 20px;
    }
</style>


    <!-------Header-------->
<header class="uno-header"> 
    <nav class="nav bd-grid">
        <div>
            <a href="#" class="nav__logo">GoddessNut</a>
        </div>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="{% url 'index' %}" class="nav__link active">Inicio</a></li>
                <li class="nav__item"><a href="{% url 'productos' %}" class="nav__link">Productos</a></li>
                <li class="nav__item"><a href="{% url 'estilo' %}" class="nav__link">Estilos</a></li>
                <li class="nav__item"><a href="{% url 'registrar' %}" class="nav__link">Registrarse</a></li>
                <li class="nav__item"><a href="{% url 'iniciarsesion' %}" class="nav__link">Iniciar Sesión</a></li>
                <li class="nav__item"><a href="{% url 'contacto' %}" class="nav__link">Contactanos</a></li>

                <span class="hola-msg">Hola, {{request.user}} </span>
                <span><a class="hola-msg" href="{% url 'cerrarsesion' %}">Cerrar Sesión</a></span>
            </ul>
        </div>
        <i class='bx bxs-cart-add nav__cart' ></i>
        <i class='bx bx-menu nav__toggle' id="nav-toggle" ></i>
        <div>

        </div>

    </nav>

</header>

   

   {% block contenido %}
   {% endblock %}

    <!-------Información-------->
    <section class="seccion informacion" id="suscribirse">
        <div class="informacion__container bg-grid">
            <div class="informacion__suscribirse">   
                <h2 class="seccion__title">Recibe Información</h2>
                <p class="informacion__descripcion">¡Obtén Promociones, Nuevos Productos y mucho más!</p>

                <form action="" class="informacion__form"></form>
                <input type="text" class="informacion__input" placeholder="Ingresa tu e-mail">
                <a href="#" class="button">Suscribirse</a>
            </div>
        </div>
    </section>

</main>

    <!-------Footer-------->
    <footer class="seccion footer">
        <div class="footer__container bd-grid">   
            <div class="footer__box">
            </div>
            <div class="footer__box">
                <h3 class="footer__title">Explora</h3>
                <ul>
                    <li><a href="#" class="footer__link">Inicio</a></li>
                    <li><a href="#" class="footer__link">Productos</a></li>
                    <li><a href="#" class="footer__link">Lenceria</a></li>
                    <li><a href="#" class="footer__link">Accesorios</a></li>
                    <li><a href="#" class="footer__link">Contactanos</a></li>
                </ul>
            </div>

            <div class="footer__box">
                <h3 class="footer__title">Servicio al cliente</h3>
                <ul>
                    <li><a href="#" class="footer__link">Contactanos</a></li>
                    <li><a href="#" class="footer__link">Formas De Pago</a></li>
                    <li><a href="#" class="footer__link">Puntos</a></li>
                </ul>
            </div>

            <div class="footer__box">
                <h3 class="footer__title">Ayuda & Apoyo</h3>
                <ul>
                    <li><a href="#" class="footer__link">Infromación De Envío</a></li>
                    <li><a href="#" class="footer__link">Devolución</a></li>
                    <li><a href="#" class="footer__link">Como Realizar El Pedido</a></li>
                    <li><a href="#" class="footer__link">Rastrear El pedido</a></li>
                    <li><a href="#" class="footer__link">Guía De Tallas</a></li>
                </ul>
            </div>

            <div class="footer__box">
                <h3 class="footer__title">Síguenos</h3>
                    <a href="#" class="footer__social"><i class='bx bxl-facebook-circle' ></i></a>
                    <a href="#" class="footer__social"><i class='bx bxl-instagram-alt' ></i></a>
            </div>
        </div>
        
        <p class="footer__copia">&#169; 2020 Todos Los Derechos Reservados GoddessNut Kamila Jerez Herrada</p>
    </footer>

    <!-------Main Js------->
    <script src="js/main.js"></script>
    
</body>
</html>