{% load static %}
<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-------Iconos-------->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    <!---------CSS--------->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    <title>GoddessNut</title>

    {% load pwa %}
    
    {% progressive_web_app_meta %}

</head> 
<body>


<style>
    .hola-msg{
        font-size: 18px;
        color: black;
        margin-right: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg  navbar-light bg-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">GoddessNut</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link   {% if request.resolver_match.url_name == 'index' %}active{% endif %}" >Productos</a></li>
      
        {% if user.is_superuser %}
        <li class="nav-item"><a href="{% url 'Crear producto'  %}" class="nav-link  {% if request.resolver_match.url_name == 'Crear producto' %}active{% endif %}">Crear producto</a></li>
        {% endif  %}
        {% if user.is_anonymous %}
        <li class="nav-item"><a href="{% url 'registrar' %}" class="nav-link {% if request.resolver_match.url_name == 'registrar' %}active{% endif %}">Registrarse</a></li>
        <li class="nav-item"><a href="{% url 'iniciarsesion' %}" class="nav-link">Iniciar Sesión</a></li>
        {% endif %}
        <li class="nav-item"><a href="{% url 'contacto' %}" class="nav-link">Contactanos</a></li>
        
     

  
      </ul>
   
        {% if user.is_authenticated %}
        <li class="nav-item form-inline my-2 my-lg-0"><a href="{% url 'cerrarsesion' %}" class="nav-link">Cerrar sesión</a></li>
        {% endif %}

     
    </div>
  </nav>
   

   {% block contenido %}
   {% endblock %}

    <!-------Información-------->
    <section class="seccion informacion" id="suscribirse">
        <div class="informacion__container bg-grid">
            <div class="informacion__suscribirse">   
                <h2 class="seccion__title">Recibe Información</h2>
                <p class="informacion__descripcion">¡Obtén Promociones, Nuevos Productos y mucho más!</p>

                <form action="" class="informacion__form"></form>
                <input type="text" class="informacion__input" placeholder="Ingresa tu e-mail">
                <a href="#" class="button">Suscribirse</a>
            </div>
        </div>
    </section>

</main>

    <!-------Footer-------->
    <footer class="seccion footer">
        <div class="footer__container bd-grid">   
            <div class="footer__box">
            </div>
            <div class="footer__box">
                <h3 class="footer__title">Explora</h3>
                <ul>
                    <li><a href="#" class="footer__link">Inicio</a></li>
                    <li><a href="#" class="footer__link">Productos</a></li>
                    <li><a href="#" class="footer__link">Contactanos</a></li>
                </ul>
            </div>

            <div class="footer__box">
                <h3 class="footer__title">Servicio al cliente</h3>
                <ul>
                    <li><a href="#" class="footer__link">Contactanos</a></li>
                    <li><a href="#" class="footer__link">Formas De Pago</a></li>
                    <li><a href="#" class="footer__link">Puntos</a></li>
                </ul>
            </div>

            <div class="footer__box">
                <h3 class="footer__title">Ayuda & Apoyo</h3>
                <ul>
                    <li><a href="#" class="footer__link">Infromación De Envío</a></li>
                    <li><a href="#" class="footer__link">Devolución</a></li>
                    <li><a href="#" class="footer__link">Como Realizar El Pedido</a></li>
                    <li><a href="#" class="footer__link">Rastrear El pedido</a></li>
                    <li><a href="#" class="footer__link">Guía De Tallas</a></li>
                </ul>
            </div>

            <div class="footer__box">
                <h3 class="footer__title">Síguenos</h3>
                    <a href="#" class="footer__social"><i class='bx bxl-facebook-circle' ></i></a>
                    <a href="#" class="footer__social"><i class='bx bxl-instagram-alt' ></i></a>
            </div>
        </div>
        
        <p class="footer__copia">&#169; 2020 Todos Los Derechos Reservados GoddessNut Kamila Jerez Herrada</p>
    </footer>

    <!-------Main Js------->
    <script src="js/main.js"></script>
    
</body>
</html>