{% extends 'base.html' %}
{% load static %}
{% block contenido %}

 <!-------Main-------->
 <main class="uno-main">
    <!-----Inicio---------->
    <section class="home" id="home">
        <div class="home__container bd-grid">
            <div class="home__data">
                <h1 class="home__title">NUEVOS<br><span>PRODUCTOS</span></h1>
                <a href="/Web y Mobile/GoddessNut/paginas/productos.html" class="button-shopping">Ir de Shopping</a>
            </div>
        </div>
    </section>
    

<!-----Productos Destacados------->
{% if messages %}
{% for message in messages  %}
  
{% if message.tags == 'error' %}
<div class="alert alert-danger" role="alert">
  {{ message  }}
</div>
 {% else  %}
 <div class="alert alert-success" role="alert">
  {{ message  }}
</div>
{% endif %}
{% endfor %}


<section class="seccion-destacados" id="destacados">
    <h2 class="section-title">Productos</h2>
    

  {% endif %}

    <div class="destacados__container bd-grid">
        {% for producto in productos  %}
        <div class="productos__destacados">  
            <div class="destacados__box"> 
                {%  if user.is_superuser %}
                <a href="{% url 'Modificar producto' producto.id %}">
                <div class="nuevos__destacados">Modificar </a></div>
                 </a>
                {% endif %}
                <a href="{% url 'Detalle producto' producto.id %}"> 
                    {% if producto.imagen %}

                    <img
                      src="{{  producto.imagen.url }}"
                      alt="imagen {{ producto.nombreProducto }}"
                    />
                    {% else %}
                    <img
                      src="{% static 'img/default.jpg' %}"
                      alt="imagen default {{ producto.nombreProducto }}"
                    />
                    {% endif %}
                </a>
             

                
            </div>

            <div class="destacados__data">
                <h3 class="destacados__name">  {{ producto.nombreProducto }}</h3>
                <span class="destacados__preci">$ {{ producto.precio }}</span>
            </div>
        </div>
        {% endfor %}
        

    </div>
</section>

<!-------Ofertas-------->


<!
{% endblock %}


